<div class="container">
  <div class="row">
    <a class="btn btn=primary" routerLink="/admin">Back to List</a>
  </div>
  <div>
    <div class="form-group">
      <label>Buyer Name</label>
      <div class="form-control">{{bookReg.name}}</div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <div class="form-control">{{bookReg.email}}</div>
    </div>
    <div class="form-group">
      <label>Phone</label>
      <div class="form-control">{{bookReg.phone}}</div>
    </div>
    <div class="form-group">
      <label>Book genre</label>
      <div class="form-control">{{bookReg.criteria}}</div>
    </div>
    <div class="form-group">
      <label>Book Serial Number</label>
      <div class="form-control">{{bookReg.serialNumber}}</div>
    </div>
    <div class="form-group">
      <label>Purchase Price</label>
      <div class="form-control">{{bookReg.purchasePrice}}</div>
    </div>
    <div class="form-group">
      <label>Purchase Date</label>
      <div class="form-control">{{bookReg.purchaseDate}}</div>
    </div>
  </div>
</div>
